@charset "UTF-8";

/****** Reset ******/
section,article,aside,header,footer,nav,dialog,figure,legend{display:block;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,figure{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;empty-cells:show; table-layout:fixed;}
table td{word-break:break-all;}
caption,th{text-align:left;}
ol,ul{list-style:none;}
img{display:block;border:0;vertical-align:middle;max-width:100%;height:auto;width:auto\9;/* ie8 */}
*:focus{outline:0;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;-webkit-box-sizing:border-box;box-sizing:border-box}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}[hidden]{display:none;}

/****** Typography ******/
html,body{max-width:640px;height:100%;}
html{font-size:100px;outline:0;}
body{color:#767676;background:#fff;-webkit-user-select:none;-webkit-text-size-adjust:none;position:relative;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input,select{background: transparent;border:0;border-radius: 0;}

/*::-moz-placeholder { color: #fff; }
::-webkit-input-placeholder { color:#fff; }
:-ms-input-placeholder { color:#fff; }*/

/****** public ******/
.relative{position: relative;}
.abs{position: absolute;}
.hide{display: none;}
.fl{float: left;}
.fr{float: right;}
.oh{overflow: hidden;}

/****** Start ******/
.main{width: 6.4rem;}
.bg1
{
    height: 4.33rem;

    background: url(../images/bg1.jpg);
}
.bg2
{
    height: 4.06rem;

    background: url(../images/bg2.jpg);
}
.bg3
{
    height: 6.22rem;

    background: url(../images/bg3.jpg);
}
.bg4
{
    height: 5.9rem;

    background: url(../images/bg4.jpg);
}

.bg2 .btn_go
{
    bottom: .2rem;
    left: 50%;

    width: 3rem;
    height: .8rem;
    margin-left: -1.5rem;

    background: url(../images/btn_go.png);
    background-size: cover;
}
.bg3 .petal
{
    width: .38rem;
    height: .29rem;
    background: url(../images/petal.png);
    background-size: cover;
    top: 0.9rem;
    left: 50%;
    margin-left: -1.4rem;
    z-index: 19;
}
.bg4 .video_wrap,
.bg4 .video_wrap .video_img
{
    width: 5.6rem;
    height: 3.18rem;
}
.bg4 .video_wrap
{
    top: 1.53rem;
    left: 50%;
    margin-left: -2.82rem;
}
.bg4 .video_wrap .video_img
{
    background: url(../images/video_img.jpg);
    background-size: cover;
}
.swiper-container
{
    top: 1.02rem;
    left: 50%;

    width: 5.67rem;
    height: 5.2rem;
    margin-left: -2.86rem;
}
.swiper-slide .item
{
    overflow: hidden;

    width: 100%;
    height: 1.46rem;
    margin-bottom: .04rem;
    padding: 0 .25rem;

    border-radius: 8px;
    /*background: #feeca6;*/

    background: -webkit-linear-gradient(left, #fdf1c0 , #fdea97);
    background: linear-gradient(to right, #fdf1c0 , #fdea97);
}
.swiper-slide .item .title
{
    font-size: .28rem;

    padding-top: .28rem;
    margin-bottom: .06rem;

    color: #8d4106;
    font-weight: 600;
}
.swiper-slide .item .cont
{
    font-size: .18rem;
    line-height: .28rem;

    color: #8d4106;
}
.swiper-slide .item .cont a
{
    color: red;
}
#arr_l {background: url(../images/btn_l.png); }
#arr_r {background: url(../images/btn_r.png);}
#arr_l, #arr_r{background-size: cover;}

.swiper-button-next,
.swiper-button-prev
{
    position: absolute;
    z-index: 10;
    bottom: 0!important;

    width: .36rem;
    height: .4rem;

    cursor: pointer;
}
.swiper-pagination-bullet
{
    color: #fae10c;
    font-size: .4rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: lighter;
}



.bg1, .bg2, .bg3, .bg4{width: 100%;background-size: cover;}